<p id="notice"><%= notice %></p>

<p>
  <b>From:</b>
  <%= @email.from %>
</p>

<p>
  <b>To:</b>
  <%= @email.to %>
</p>

<p>
  <b>To:</b>
  <%= @email.subject %>
</p>

<p>
  <b>Body:</b>
  <%= @email.body %>
</p>

<%= link_to 'Back', emails_path %>
